.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.spinner {
  position: relative;
  display: inline-block;
}

.spinner-small {
  width: 30px;
  height: 30px;
}

.spinner-medium {
  width: 50px;
  height: 50px;
}

.spinner-large {
  width: 80px;
  height: 80px;
}

.spinner-ring {
  position: absolute;
  border: 3px solid transparent;
  border-top-color: #667eea;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-small .spinner-ring {
  width: 30px;
  height: 30px;
  border-width: 2px;
}

.spinner-medium .spinner-ring {
  width: 50px;
  height: 50px;
  border-width: 3px;
}

.spinner-large .spinner-ring {
  width: 80px;
  height: 80px;
  border-width: 4px;
}

.spinner-ring:nth-child(1) {
  animation-delay: 0s;
}

.spinner-ring:nth-child(2) {
  animation-delay: 0.2s;
  border-top-color: #764ba2;
}

.spinner-ring:nth-child(3) {
  animation-delay: 0.4s;
  border-top-color: #f093fb;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-message {
  color: #666;
  font-size: 14px;
  margin: 0;
}

